<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>174745234348-9num377nc2bkbn95fru9856rffq9r83o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.174745234348-9num377nc2bkbn95fru9856rffq9r83o</string>
	<key>API_KEY</key>
	<string>AIzaSyA2QcTke-ouBLu5BNhqWHC3h5xD2-CACPs</string>
	<key>GCM_SENDER_ID</key>
	<string>174745234348</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginAuthentication</string>
	<key>PROJECT_ID</key>
	<string>loginauthentication-dbcde</string>
	<key>STORAGE_BUCKET</key>
	<string>loginauthentication-dbcde.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:174745234348:ios:98ce0226e81883c3e2a809</string>
</dict>
</plist>